<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Lista de tarefa</h1>

  <form method="post" action="/app/new-list">
    <p>nomes das listas</p>
    <div>
      <p>onde mostra todas as listas</p>
    </div>
    <button type="submit">Nova lista de tarefas</button>
  </form>

  <div>
    <% lists.forEach(item=> { %>
      <a href="/app/">
        <%= item.content %>
      </a><br>
      <% }) %>
  </div>


</body>

</html>