<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>To do List</title>

</head>

<body class="flex h-screen items-center justify-center flex-col gap-6 bg-gray-900 text-white ">
  <h1 class="text-4xl">Bem vindo ao B-Productive</h1>
  <div class="text-center">
    <p class="mb-3">Organize suas Tarefas</p>
    <p>o B Productive Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, possimus
      molestias ad consectetur
      sapiente inventore ea ducimus eligendi molitia esse accusamus? Pariatur rerum repudiandae maiores consectetur
      nobissed id totam?</p>
  </div>
  <a href="/app" class="rounded-md p-2 bg-blue-500">Gerenciar suas tarefas</a>
</body>

</html>