<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Lista de tarefa</h1>

  <form method="post" action="">
    <p>nomes das listas</p>
  </form>
  <button type="submit"> nova lista</button>
</body>

</html>