<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Congrats!</title>
</head>

<body>
  <h1>Voce esta cadastrado!</h1>

  <a href="/emails">ver emails cadastrados</a>
  <a href="/">cadastrar outros emails</a>
</body>

</html>